@{
    ViewBag.Title = "Contact";
    ViewBag.NewMessage = "PetBazar.com";
}
<div class="container container-table">
    <div id="bannerImage" style="margin-left:20%;">
        <img src="~/Images/banner.jpg" />
    </div>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.NewMessage</h3>

    <address>
        Mirpur<br />
        Dhaka-1216, Bangladesh<br />
        <abbr title="Phone">Mobile:</abbr>
        01558660839
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PetBazar.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PetBazar.com</a>
    </address>
</div>